CL_FAR CR_FAR MR++
CL_FAR CR_FAR ML++
CL_NEAR CR_NEAR MR--
CL_NEAR CR_NEAR ML00
CL_NEAR CR_FAR ML00
CL_NEAR CR_FAR MR++
CL_FAR CR_NEAR MR00
CL_FAR CR_NEAR ML++
CL_NEAR CR_MEDIUM ML--
CL_MEDIUM CR_NEAR ML00
CL_NEAR CR_MEDIUM MR00
CL_MEDIUM CR_NEAR MR--